* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
}

body {
  background-image: url(./faq-accordion-main/assets/images/background-pattern-desktop.svg);
  background-repeat: repeat-x;
  background-color: hsl(275, 100%, 97%);
}

.cabecalho {
  display: flex;
  gap: 20px;
  align-items: center;
  padding-bottom: 20px;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  align-self: center;
  padding: 5px;
  border-bottom: 1px solid hsl(275, 100%, 97%);
}

.container {
  align-content: center;
  background-color: white;
  width: 100%;
  max-width: 600px;
  min-height: 300px;
  padding: 20px;
  border-radius: 5%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button {
  width: 30px;
  height: 30px;
}

h1 {
  color: hsl(292, 42%, 14%);
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
}

p {
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: hsl(292, 42%, 14%);
}

p:hover {
  color: hsl(292, 16%, 49%);
}

.question:hover[p] {
  color: hsl(292, 16%, 49%);
}

.complemento {
  padding-top: 10px;
  color: hsl(292, 16%, 49%);
  display: none;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
}

.attribution {
  position: fixed;
  bottom: 0;
  align-content: center;
  display: inline-block;
  align-self: center;
}
